<app-header></app-header>
<app-banner></app-banner>
<app-navigator></app-navigator>
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row-full"><br>
					<h2 class="f-400 back text-center funtion-margin5">PRODUCT</h2>
					<div class="divider-lg text-center"></div><br>
					<p class="f-500 font15 back333 text-justify marginbuttom30 text-uppercase">PAN PIZZA RECIPE HAS DEVELOPED TO BE MORE DELICIOUS ! OUR NEW CRUST THAT HAS GARLIC BUTTER, OREGANO AND PARMESAN CHEESE.
					</p>
				</div>
				<div class="col-sm-6">
					<div class="app-figure text-center" id="zoom-fig">
						<a id="Zoom-1" class="MagicZoom" title="Product Name" href="assets/images/pic4.png">
							<img title="Choose the right  product every time!" src="assets/images/pic4.png" alt="Product Name" title="Product Name"/>
						</a>
						<div class="selectors">
							<div id="owl-demo02" class="owl-carousel">
								<div class="item" style="padding: 0px 0px;">
									<a data-zoom-id=Zoom-1 title="Product Name" href="assets/images/pic4.png" data-image="assets/images/pic4.png">
										<img title="Choose the right  product every time!" srcset="assets/images/pic4.png" src="assets/images/pic4.png" title="Product Name" alt="Product Name"/>
									</a>
								</div>
								<div class="item" style="padding: 0px 0px;">
									<a data-zoom-id=Zoom-1 title="Product Name" href="assets/images/pic5.png" data-image="assets/images/pic5.png">
										<img title="Choose the right  product every time!" srcset="assets/images/pic5.png" src="assets/images/pic5.png" title="Product Name" alt="Product Name"/>
									</a>
								</div>
								<div class="item" style="padding: 0px 0px;">
									<a data-zoom-id=Zoom-1 title="Product Name" href="assets/images/pic6.png" data-image="assets/images/pic6.png">
										<img title="Choose the right  product every time!" srcset="assets/images/pic6.png" src="assets/images/pic6.png" title="Product Name" alt="Product Name"/>
									</a>
								</div>
								<div class="item" style="padding: 0px 0px;">
									<a data-zoom-id=Zoom-1 title="Product Name" href="assets/images/pic6.png" data-image="assets/images/pic6.png">
										<img title="Choose the right  product every time!" srcset="assets/images/pic6.png" src="assets/images/pic6.png" title="Product Name" alt="Product Name"/>
									</a>
								</div>
								<div class="item" style="padding: 0px 0px;">
									<a data-zoom-id=Zoom-1 title="Product Name" href="assets/images/pic6.png" data-image="assets/images/pic6.png">
										<img title="Choose the right  product every time!" srcset="assets/images/pic6.png" src="assets/images/pic6.png" title="Product Name" alt="Product Name"/>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<section>
						<h4 class="back333 f-400 ">VEGGIE PIZZA </h4>
					</section>
					<section>
						<p class="marginbuttom0 f-400 font16 back333">Price:</p>
						<ul>
							<p class="red f-400 font22 marginbuttom5"><s class="font16 back">$24.00</s>&nbsp; $19.00 </p>
						</ul>
					</section>
					<section> <!-- ไซต์รองเท้า -->
						<p class="marginbuttom0 f-400 font16 back333">Size:</p>
						<ul class="custom-radio1">
							<li><input type="radio" name="radio" value="1" id="radio01" /><label for="radio01">S</label></li>
							<li><input type="radio" name="radio" value="2" id="radio02" /><label for="radio02">M</label></li>
							<li><input type="radio" name="radio" value="3" id="radio03" /><label for="radio03">L</label></li>
							<li><input type="radio" name="radio" value="4" id="radio04" /><label for="radio04">XL</label></li>
						</ul>
					</section>
					<div class="clearfix marginbuttom10"></div>
					<section>
						<p class="f-400 back333 marginbuttom10 font16">Quantity:</p>
						<ul>
							<span class="input-number-decrement">–</span>
							<input class="input-number" type="text" value="1" min="0" max="10">
							<span class="input-number-increment">+</span>
						</ul>
					</section>
					<div class="clearfix marginbuttom10"></div>
					<section>
						<p class="f-400 back333 marginbuttom10 font16">Share:</p>
						<ul>
							<span class="">
								<a href="https://www.facebook.com/sharer/sharer.php?u=#" target="_blank" title="Facebook"><img src="assets/images/so01.png" style="width: 30px; height: 30px;"></a>
								<a href="https://lineit.line.me/share/ui?url=#" target="_blank" title="Line"><img src="assets/images/so06.png" style="width: 30px; height: 30px;"></a>
								<a href="https://twitter.com/share?url=#" target="_blank" title="Twitter"><img src="assets/images/so03.png" style="width: 30px; height: 30px;"></a>
								<a href="https://www.instagram.com/?hl=th" target="_blank" title="Instagram"><img src="assets/images/so05.png" style="width: 30px; height: 30px;"></a>
								<a href="https://plus.google.com/share?url=#" target="_blank" title="Google+"><img src="assets/images/so02.png" style="width: 30px; height: 30px;"></a>
							</span>
						</ul>
					</section>
					<div class="clearfix marginbuttom10"></div>
				</div>
				<div class="clearfix"></div><br>
				<div class="col-sm-12 col-xs-12">
					<div class="row">
						<div class="" style="padding-left: 0px;">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#menu1" title="Detail" style="font-size:18px; padding: 15px 18px;">DETAIL</a></li>
								<li class=""><a data-toggle="tab" href="#menu2" title="Detail" style="font-size:18px; padding: 15px 18px;">VIDEO</a></li>
								<li class=""><a data-toggle="tab" href="#menu3" title="Detail" style="font-size:18px; padding: 15px 18px;">DOWNLOAD</a></li>
							</ul>
							<div class="tab-content" style="border:1px solid #ddd;">
								<div id="menu1" class="tab-pane fade in active">
									<div style="padding: 20px;">
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
										<br><br>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
										<br><br>
										Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
									</div><!-- จบmenu 1 -->
								</div>
								<div id="menu2" class="tab-pane fade">
									<div style="padding: 20px;">
										<div class="hidden-xs">
											<iframe width="1100" height="600" src="https://www.youtube.com/embed/inZkSfKVyDY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>    
											</iframe>
										</div>
										<div class="visible-xs">
											<iframe width="305" height="250" src="https://www.youtube.com/embed/inZkSfKVyDY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>    
											</iframe>
										</div>
									</div>
								</div>
								<div id="menu3" class="tab-pane fade">
									<div style="padding: 20px;     height: 200px;">
										<div class="col-sm-12"  *ngFor="let item of list; let i = index;">
											<div class="row">
												<div class="col-sm-8 col-xs-6">
													<p class="" style="color:#5d615d; border:1px; ">
														<span class="glyphicon glyphicon-cloud-download"></span> Product Name
													</p>
												</div>
												<div class="col-sm-4 col-xs-6">
													<a title="" href="assets/upload/pizza.pdf" class="btn btn-success" target=_blank style="margin-top:5px;">
														<span class="glyphicon glyphicon-save"></span> Download
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!-- จบtab -->
						</div>
					</div>
				</div><!-- จบtab-->
			</div>
		</div>
	</div><br>
</section>
<a href="#" class="scrollToTop">Scroll To Top</a>
<app-footer></app-footer>

