<div class="container">
	<div class="row">
		<!--navigator-->
		<div style="text-align:right; color:#000;border-bottom: 1px solid #ccc;padding: 10px;">

			<a href="#" class="nav1">
				<span class="navigator-text red">Home</span>
			</a>
			/
			<a href="#" class="nav1">
				<span class="navigator-text">Page 1</span>
			</a>
			/
			<a href="#" class="nav1">
				<span class="navigator-text">Page 2</span>
			</a>
			/
			<a href="#" class="nav1">
				<span class="navigator-text">Page 3</span>
			</a>
		</div>
	</div>
</div>
<!--/*navigator-->
