<!-- Start WOWSlider.com BODY section -->
<!-- add to the <body> of your page -->
<div class="container">
  <div id="wowslider-container1">
    <div class="ws_images">
      <ul>
        <li>
          <img src="assets/data1/images/s14.jpg" alt="" title="" id="wows1_0" />
        </li>
        <li>
          <img src="assets/data1/images/s15.jpg" alt="" title="" id="wows1_1" />
        </li>
        <li>
          <img src="assets/data1/images/s12.jpg" alt="" title="" id="wows1_2" />
        </li>
      </ul>
    </div>
    <div class="ws_bullets">
      <div>
        <a href="#" title="">
          <span>
            <img src="assets/data1/tooltips/s14.jpg" alt="" />1</span>
        </a>
        <a href="#" title="">
          <span>
            <img src="assets/data1/tooltips/s15.jpg" alt="" />2</span>
        </a>
        <a href="#" title="">
          <span>
            <img src="assets/data1/tooltips/s12.jpg" alt="" />3</span>
        </a>
      </div>
    </div>
    <div class="ws_shadow"></div>
  </div>
</div>
<!-- End WOWSlider.com BODY section -->
