<app-header></app-header>
<app-banner></app-banner>
<app-navigator></app-navigator>
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row-full"><br>
					<h2 class="f-400 back text-center funtion-margin5">CONTACT US</h2>
					<div class="divider-lg text-center"></div><br>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-8">
								<!-- <p class="back333 f-400 font16">คุณสามารถติดต่อเราได้ทุกทางที่สะดวก เราพร้อมให้บริการตลอด 24 ชั่วโมง ผ่านทางแฟกซ์หรืออีเมล์<br>
								นอกจากนี้คุณยังสามารถใช้แบบฟอร์มติดต่อด้านล่างได้โดยตรงหรือไปที่ร้านของเราเอง</p> -->
								<p class="back333 f-400 font16">You can contact us any way that is convenient for you. We are available 24 hour fax or email. <br>You can also use a quick contact form below or visit our salon personally.</p> 

								<form id="main-contact-form" name="contact-form" method="post" action="#">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="text" name="name" class="form-control" placeholder="Topic" required="required" style="height: 40px;">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="email" name="email" class="form-control" placeholder="Name-Surname" required="required" style="height: 40px;">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="text" name="name" class="form-control" placeholder="Phone " required="required" style="height: 40px;">
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="email" name="email" class="form-control" placeholder="E-mail" required="required" style="height: 40px;">
											</div>
										</div>
									</div>
									<div class="form-group">
										<textarea name="message" id="message" class="form-control" rows="4" placeholder="Text Detail" required="required" style="height: 150px;"></textarea>
									</div>
									<div class="form-group">
										<input type="file" class="filestyle" data-buttonText="Choose file" id="BSbtndefault" class=" " style="margin-bottom: 10px;">   
									</div>                     
									<div class="form-group">
										<div style="margin-bottom: 15px;"><img src="assets/images/Captcha-demo.gif" width="280" height="76" alt=""/></div>
										<button type="submit" class="btn-submit btn btn-default1 btn-md hvr-btn font16" style="padding: 8px 45px;">SEND</button> 
									</div>
								</form> 
							</div>
							<div class="col-sm-4">
								<h3 class="back font23 f-400">Pizza.com</h3>
								<h5 class="back333 f-500 funtion-margin5 font16">Address:</h5>
								<i class="fas fa-map-marker-alt red font15"></i> <span>89/27 หมู่บ้านศุภาลัย วิลล์ ซ.พหลโยธิน52 แยก27 <br>(ม.ทิมเรืองเวช) แขวงคลองถนน เขตสายไหม กรุงเทพมหานคร 10220</span>
								<div class="border"></div>
								<h5 class="back333 f-500 funtion-margin5 font16">Tel:</h5>
								<i class="fas fa-phone-volume red font16"></i> <span>095-987-4596</span>
								<div class="border"></div>
								<h5 class="back333 f-500 funtion-margin5 font16">Fax:</h5>
								<i class="fas fa-fax red font16"></i> <span>02-100-5044</span>
								<div class="border"></div>
								<h5 class="back333 f-500 funtion-margin5 font16">E-mail:</h5>
								<i class="fas fa-envelope red font16"></i> <span>admin@cw.in.th </span>
								<div class="border"></div>
								<a title="" href="assets/images/map.jpg" class="highslide img-responsive" onClick="return hs.expand(this)">
									<img title="" src="assets/images/map.jpg" alt="" class="img-responsive margintop20">
								</a>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div> 
	</div><br>
	<div class="hidden-xs" >
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1936.556783275055!2d100.622214!3d13.892157!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6fb44395301d89f!2scw.in.th!5e0!3m2!1sen!2sth!4v1529650355771" width="1900" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="visible-xs" >
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1936.556783275055!2d100.622214!3d13.892157!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6fb44395301d89f!2scw.in.th!5e0!3m2!1sen!2sth!4v1529650355771" width="375" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</section>
<a href="#" class="scrollToTop">Scroll To Top</a>
<app-footer></app-footer>

