.divider-lg::after {
    content: '';
    display: inline-block;
    width: 130px;
    height: 3px;
    background-color: #00960b;
    margin-bottom: 0px;
}

.funtion-margin5{
    margin: 0 0 5px 0;
  }
  .funtion-margin10{
    margin: 0 0 10px 0;
  }
  .funtion-margin15{
    margin: 15px 0 10px 0;
  
  }



  .font14{
    font-size: 14px;
    }


  @media(max-width:1024px){

  }
  @media(max-width:768px){
    .font14{
      font-size: 13px;
      }
  }
  @media(max-width:414px){
  
  }