<section class="section01 background-black">

	<div class="container">
		<div class="row">
			<div class="text-right">
				<div class="manage-top-left hidden-xs">
					<span class="funtion-border-right">
						<a href="" target="_blank" class=" font20" style="padding: 0px 0px 0px 8px;"><i class=" fab fa-facebook-f" title="Facebook"></i></a>
					</span>
					<span class="funtion-border-right2">
						<a href="" target="_blank" class=" font20" style="padding: 0px 0px 0px 8px;"><i class=" fab fa-line" title="Line"></i></a>
					</span>
					<span class="funtion-border-right2">
						<a href="" target="_blank" class=" font20" style="padding: 0px 0px 0px 8px;"><i class=" fab fa-twitter-square" title="Twitter"></i></a>
					</span>
					<span class="funtion-border-right2">
						<a href="" target="_blank" class=" font20" style="padding: 0px 5px 0px 5px;"><i class=" fab fa-instagram" title="Instagram"></i></a>
					</span>
				</div>
				<span class="funtion-border-right">
					<a href="">
						<i class="fas fa-phone-volume"></i> TEL : 095-987-4596 
					</a>
				</span>
				<span class="funtion-border-right2">
					<a href="" class="">TH</a> |
					<a href="" class="red">EN</a>
				</span>
			</div>
		</div>
	</div>

</section>

<!-- Start Navigation -->
<nav class="navbar navbar-default navbar-mobile bootsnav">
	<div class="container">
		<div class="row">
			<!-- Start Header Navigation -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="./index">
					<img src="assets/images/logo.png" class="logo" alt="">
				</a>
			</div>
			<!-- End Header Navigation -->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-menu">
				<div class="cl-effect-1" id="cl-effect-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="./index">HOME</a>
						</li>
						<li>
							<a href="./about">ABOUT</a>
						</li>
						<li>
							<a href="./product">PRODUCT</a>
						</li>
						<li>
							<a href="./service">SERVICES</a>
						</li>
						<li>
							<a href="./new">NEWS & EVENTS</a>
						</li>
						<li>
							<a href="./contact">CONTACT US</a>
						</li>
					</ul>
					<div class="hidden-lg hidden-md" style="background:0;padding:5px 0;margin-top:0">
						<table width="100%" border="0" style="margin-bottom:20px;border-bottom:solid 1px #e0e0e0">
							<tbody>
								<tr>
									<td width="29%" align="right" valign="middle" style="padding:8px 5px 8px 5px">
										<a href="#" target="_blank">
											<img class="img-social" src="assets/images/i-f.png?v=1001" alt="facebook" title="" />
										</a>
									</td>
									<td width="2%">&nbsp;</td>
									<td width="69%" align="left" valign="middle">
										<a href="#" target="_blank">
											<span style="color:#fff">Facebook</span>
										</a>
									</td>
								</tr>
								<tr style="margin-bottom:30px">
									<td align="right" valign="middle" style="padding:8px 5px 8px 5px">
										<a href="#" target="_blank">
											<img class="img-social" src="assets/images/i-i.png?v=1001" alt="Instagram" title="" />
										</a>
									</td>
									<td>&nbsp;</td>
									<td align="left" valign="middle">
										<a href="#" target="_blank">
											<span style="color:#fff">Instagram</span>
										</a>
									</td>
								</tr>
								<tr style="margin-bottom:30px">
									<td align="right" valign="middle" style="padding:8px 5px 8px 5px">
										<a href="#" target="_blank">
											<img class="img-social" src="assets/images/i-l.png?v=1001" alt="Line" title="" />
										</a>
									</td>
									<td>&nbsp;</td>
									<td align="left" valign="middle">
										<a href="#" target="_blank">
											<span style="color:#fff">Line</span>
										</a>
									</td>
								</tr>
								<tr style="margin-bottom:30px">
									<td align="right" valign="middle" style="padding:8px 5px 8px 5px">
										<a href="#" target="_blank">
											<img class="img-social" src="assets/images/i-t.png?v=1001" alt="Twitter" title="" />
										</a>
									</td>
									<td>&nbsp;</td>
									<td align="left" valign="middle">
										<a href="#" target="_blank">
											<span style="color:#fff">Twitter</span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<table width="100%" border="0" style="margin-top:20px">
							<tbody width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="color:#fff;font-size:10px;line-height:1">
								<tr>
									<td width="31%" rowspan="2" align="right" valign="middle" style="padding:5px 5px 15px 5px">
										<img src="assets/images/1.png?v=1001" width="33" height="33" alt="" title="" />&nbsp;&nbsp;
									</td>
									<td width="2%" rowspan="2" align="right">&nbsp;</td>
									<td width="67%" align="left" valign="bottom">วันนี้</td>
								</tr>
								<tr>
									<td style="padding-top:5px" align="left" valign="top">18</td>
								</tr>
								<tr>
									<td style="padding:5px 5px 15px 5px" rowspan="2" align="right" valign="middle">
										<img src="assets/images/2.png?v=1001" width="33" height="33" alt="" title="" />&nbsp;&nbsp;
									</td>
									<td rowspan="2" align="right">&nbsp;</td>
									<td align="left" valign="bottom">เดือนนี้</td>
								</tr>
								<tr>
									<td style="padding-top:5px" align="left" valign="top">340</td>
								</tr>
								<tr>
									<td style="padding:5px 5px 15px 5px" rowspan="2" align="right" valign="middle">
										<img src="assets/images/3.png?v=1001" width="33" height="33" alt="" title="" />&nbsp;&nbsp;
									</td>
									<td rowspan="2" align="right">&nbsp;</td>
									<td align="left" valign="bottom">รวม</td>
								</tr>
								<tr>
									<td style="padding-top:5px" align="left" valign="top">1,860</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
		<!-- /.navbar-collapse -->
	</div>
</nav>
<!-- End Navigation -->
