
    <div class="list-group">
          <a href="" class="list-group-item f-400 font18" title="Categories" style=" background-color:#000;">
            <i class="fas fa-list-ul white"></i><span class="white"> Categories</span>
           </a>
        <div class=clearfix></div>
      <a href="./product" class="list-group-item font15" title=""><i class="fas fa-utensils back"></i> Neapolitan Style pizza</a>
      <a href="./product" class="list-group-item font15" title=""><i class="fas fa-utensils back"></i> Roman Style pizza</a>
    </div>