<section class="background-black" style=" padding: 5px 0px;">
  <div class="container">
    <div class="col-lg-7 ">
      <p class="white f-400 margintop10" style="margin-bottom: 0px;">Copyright : 2018 Pizza.com</p>
      <p class="white f-400 " style="margin-bottom: 0px;">บริษัทรับทำเว็บไซต์ Design By cw.in.th</p>
    </div>
    <div class="col-lg-5 pull-right hidden-sm hidden-xs margintop10">
      <table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" style="color:#fff;font-size:12px;line-height:1 ">
        <tbody>
          <tr>
            <td width="34" height="42" rowspan="2" align="center" valign="middle" scope="col"><img title="Yellobe" src="assets/images/1.png?v=1001" width="34" height="34"></td>
            <td width="75" height="21" align="center" valign="bottom" scope="col"> Today
            </td>
            <td width="34" rowspan="2" align="center" valign="middle" scope="col"><img title="Yellobe" src="assets/images/2.png?v=1001" width="34" height="34"></td>
            <td width="75" align="center" valign="bottom" scope="col">This Month</td>
            <td width="34" rowspan="2" align="center" valign="middle" scope="col"><img title="Yellobe" src="assets/images/3.png?v=1001" width="34" height="34"></td>
            <td width="75" align="center" valign="bottom" scope="col">Total</td>
          </tr>
          <tr>
            <td width="75" align="center" valign="middle" scope="col">100</td>
            <td width="75" align="center" valign="middle" scope="col">100,000</td>
            <td align="center" valign="middle" scope="col">100,100</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>