/* You can add global styles to this file, and also import other style files */

@import "~font-awesome5/css/fontawesome-all.css";
.owl-theme .owl-controls .owl-buttons div {
    /* color: #FFF; */
    display: inline-block;
    zoom: 1;
    margin: 5px;
    font-size: 35px;
    width: 14px;
    height: 36px;
  }
  
  .owl-next {
    color: #ef2c00;
    right: 1%;
  }
  
  .owl-prev {
    color: #000000;
    right: 4%;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  #owl-demo02 .owl-prev {
    position: absolute;
    top: -31%;
    bottom: 0;
    right: 33px;
    left: auto;
    font-size: 25px;
    padding: 5px 20px 0px 10px;
    color: #fff;
    text-align: center;
    filter: alpha(opacity=50);
    opacity: 0.6;
    background-color: #000;
}
  
  #owl-demo02 .owl-next {
    position: absolute;
    top: -31%;
    bottom: 0;
    right: 0px;
    left: auto;
    font-size: 25px;
    padding: 5px 20px 0px 10px;
    color: #fff;
    text-align: center;
    filter: alpha(opacity=50);
    opacity: 0.6;
    background-color: #000;
}

  
  #owl-demo02 .item {
    margin: 5px;
  }

  @media(max-width:414px){
    #owl-demo02 .owl-prev {
      position: absolute;z-index: 5;
      top: -50%;
      bottom: 0;
      right: 33px;
      left: auto;
      font-size: 25px;
      padding: 5px 20px 0px 10px;
      color: #fff;
      text-align: center;
      filter: alpha(opacity=50);
      opacity: 0.6;
      background-color: #000;
  }
    
    #owl-demo02 .owl-next {
      position: absolute;z-index: 5;
      top: -50%;
      bottom: 0;
      right: 0px;
      left: auto;
      font-size: 25px;
      padding: 5px 20px 0px 10px;
      color: #fff;
      text-align: center;
      filter: alpha(opacity=50);
      opacity: 0.6;
      background-color: #000;
  }
}


.d-active{color: #fff !important;background-color: #000 !important;}