/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Prompt', sans-serif;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #6f6f6f;
}
